{% extends "base.html" %}
{% block header %}
    <h1>Usuarios</h1>
{% endblock %}
{% block content %}
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre de Usuario</th>
                <th>Password</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
                <tr>
                    <td>{{u.id}}</td>
                    <td>{{u.username}}</td>
                    <td>{{u.password}}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}